<section class="content">
    <div class="container" style="width: 50%; padding: 0 0.5rem;">
        <div class="m-box">
            <div class="row">

                <div class="col s12">




                    <form ng-submit="addReservation()" name="ResForm" novalidate>


                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="" id="first_name" type="date" name="dateDebut"
                                       class="datepicker" ng-model="newReservation.dateDebut" required>

                            </div>
                            <div class="input-field col s6">
                                <input id="Date fin" type="date" class="datepicker" name="dateFin"
                                        ng-model="newReservation.dateFin" required>

                            </div>
                            <div class="input-field col s6">
                                <input id="heure Debut" type="text" class="validate" name="heureDebut"
                                       ng-model="newReservation.heureDebut" required>
                                <label for="last_name">heure debut</label>

                            </div>
                            <div class="input-field col s6">
                                <input id="Heure fin" type="text" class="validate"
                                       ng-model="newReservation.heureFin"  required name="heureFin">
                                <label for="last_name">heure fin</label>

                            </div>
                            <div class="input-field col s6">
                                <input id="lieu_Prise" type="text" class="validate" name="lieuPrise"
                                       ng-model="newReservation.lieuPrise" required>
                                <label for="last_name">lieu Prise</label>

                            </div>
                            <div class="input-field col s6">
                                <input id="lieu Fin" type="text" class="validate" name="lieuRetour"
                                       ng-model="newReservation.lieuRetour" required>
                                <label for="last_name">lieu Retour</label>





                            </div>

                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea" length="120"
                                          ng-model="newReservation.description"></textarea>
                                <label for="textarea1">Description</label>
                            </div>



                            <label><h5>Voiture</h5></label>
                        <select class="browser-default" ng-model="newReservation.Voiture_idVoiture" required >

                            <option value="{{c.idVoiture }}" ng-repeat="c in cars" ng-selected="c.idVoiture==newReservation.Voiture_idVoiture"
                                    ng-disabled="!c.disponibilite">
                                    {{ c.Modele.nom + " " +  c.Modele.marque + " " + c.numImmatricule
                              }}
                                      {{  c.idVoiture==newReservation.Voiture_idVoiture }}

                            </option>




                        </select>

                            <label><h5>Client </h5></label>
                            <select class="browser-default" ng-model="newReservation.Client_idClient" required>

                                <option value="{{cl.idClient}}" ng-repeat="cl in clients"
                                        ng-selected="cl.idClient==newReservation.Client_idClient">
                                    {{ cl.nom + " " + cl.prenom + " " + cl.idClient  }}
                                    {{ cl.idClient==newReservation.Client_idClient }}
                                </option>

                            </select>



                        <button class="btn waves-effect waves-light" type="submit" name="action"
                                ng-disabled="ResForm.$invalid">Submit
                            <i class="material-icons right">send</i>
                        </button>

                           Reservationn : {{ newReservation }}

</div>



                        <p ng-show="ResForm.dateDebut.$invalid && !ResForm.dateDebut.$pristine" class="help-block">
                            vous devez choisr une date de début
                        </p>

                        <p ng-show="ResForm.dateFin.$invalid && !ResForm.dateFin.$pristine" class="help-block">
                            vous devez choisr une date de fin
                        </p>

                        <p ng-show="newReservation.dateDebut>=newReservation.dateFin" class="help-block">
                           date debut , date fin invalides
                        </p>

                        <p ng-show="ResForm.heureDebut.$invalid && !ResForm.heureDebut.$pristine" class="help-block">
                            heure Debut obligatoire !
                        </p>

                        <p ng-show="ResForm.heureFin.$invalid && !ResForm.heureFin.$pristine" class="help-block">
                            heure fin obligatoire!
                        </p>

                        <p ng-show="ResForm.lieuPrise.$invalid && !ResForm.lieuPrise.$pristine" class="help-block">
                            lieu de Prise obligatoire !
                        </p>

                        <p ng-show="ResForm.lieuRetour.$invalid && !ResForm.lieuRetour.$pristine" class="help-block">
                            lieu Retour obligatoire!
                        </p>



                    </form>










                </div>
                <!--end of col-s12-->

            </div><!--end of row-->

        </div><!--end of m-box-->




    </div><!--end of container-->
</section>
<!--end content-->

<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>