<section class="content" ng-controller="ParametresController">
    <div class="container" style="width: 50%; padding: 0 0.5rem;">
        <div class="m-box">
            <div class="row">

                <div class="col s12">
                    <h3>    Paramétres </h3>
                </div>
                <!--end of col-s12-->

            </div><!--end of row-->







            <div class="row">



                <table>
                    <thead>
                    <tr>
                        <th data-field="id">Manager Foulen ben Foulen {{ Access }} </th>
                        <th data-field="name">Authorizer <i class="material-icons">verified_user</i></th>

                    </tr>
                    </thead>

                    <tbody>
                    <form ng-submit="save()">
                    <tr>
                        <td><h5>locations</h5></td>
                       <td>
                           <p>
                               <input type="checkbox" id="test4" ng-model="Access[0]" ng-checked="Access[0]" />
                               <label for="test4">Auth</label>
                           </p>
                       </td>


<!---------->



                    </tr>
                    <tr>
                        <td><h5>Voitures</h5></td>

                        <td>
                            <p>
                                <input type="checkbox" id="test8" ng-model="Access[1]" ng-checked="Access[1]" />
                                <label for="test8">Auth</label>
                            </p>
                        </td>

<!------------->

                    </tr>

                    <tr>
                        <td><h5>Entretients</h5></td>

                        <td>
                            <p>
                                <input type="checkbox" id="test11" ng-model="Access[2]" ng-checked="Access[2]" />
                                <label for="test11">Auth</label>
                            </p>
                        </td>

                        <!------------->


                    </tr>



                    <tr>

                        <td><h5>Contrats</h5></td>

                        <td>
                            <p>
                                <input type="checkbox" id="test5" ng-model="Access[3]" ng-checked="Access[3]"  />
                                <label for="test5">Auth</label>
                            </p>
                        </td>

                        <!------------->


                        <!---------->

                    </tr>





                    <tr>

                        <td><h5>Factures</h5></td>


                        <td>
                            <p>
                                <input type="checkbox" id="test15" ng-model="Access[4]" ng-checked="Access[4]" />
                                <label for="test15">Auth</label>
                            </p>
                        </td>

                    </tr>
                    <tr>

                        <td><h5>Clients</h5></td>
                        <td>
                            <p>
                                <input type="checkbox" id="test16" ng-model="Access[5]" ng-checked="Access[5]" />
                                <label for="test16">Auth</label>
                            </p>
                        </td>

                        <!------------->


                        <!---------->


                    </tr>


                        <tr>

                            <td><h5>Conducteurs</h5></td>
                            <td>
                                <p>
                                    <input type="checkbox" id="test17" ng-model="Access[6]" ng-checked="Access[6]" />
                                    <label for="test17">Auth</label>
                                </p>
                            </td>

                            <!------------->


                            <!---------->


                        </tr>




















                        <button class="waves-effect waves-light btn" ng-click="save()">Save
                            <i class="material-icons">save</i></button>
                    </form>

                    </tbody>
                </table>



            </div>














        </div><!--end of m-box-->




    </div><!--end of container-->
</section>
<!--end content-->