
<section class="content" ng-controller="voituresController">
    <div class="container" style="width: 50%; padding: 0 0.5rem;">
        <div class="m-box">
            <div class="row">

                <div class="col s12">
                    <h3>Voitures  <a class="btn-floating btn-large waves-effect waves-light red"
                            ng-click="getAdd()"><i class="material-icons">add</i></a>
                    </h3>

                </div><!--end of col s12----->





                <div class="col s12">




                    <form  name="CarForm" novalidate ng-show="carAdd" ng-model="CarForm">


                        <div class="row">

                            <label>date visite tecknique</label>
                            <div class="input-field col s12">
                                <input placeholder="date" id="first_name" type="date" name="date_visite_tecknique"
                                       class="datepicker" ng-model="newCar.date_visite_tecknique" required>
                            </div>



                            <label>date vignette</label>
                            <div class="input-field col s12">
                                <input id="Date vignette" type="date" class="datepicker" name="date_vignette"
                                       ng-model="newCar.date_vignette" required>

                            </div>





                            <label>date assurance</label>

                            <div class="input-field col s12">
                                <input id="Date assurance" type="date" class="datepicker" name="date_Asurance"
                                       ng-model="newCar.date_assurance" required>

                            </div>


                            <div class="input-field col s4">
                                <input id="kilometrage" type="text" class="validate"
                                       ng-model="newCar.kilometrage"   name="kilometrage" required>
                                <label for="kilometrage">kilometrage</label>

                            </div>
                            <div class="input-field col s4">
                                <input id="nbPlaces" type="text" class="validate" name="nbPlaces"
                                       ng-model="newCar.nbPlaces" required>
                                <label for="nbPlaces">Nombre de  places</label>

                            </div>


                            <div class="input-field col s4">
                                <input id="categorie" type="text" class="validate" name="categorie"
                                       ng-model="newCar.categorie" required>
                                <label for="categorie">categorie</label>

                            </div>


                            <div class="input-field col s6">
                                <input id="num chassee" type="text" class="validate" name="numChassee"
                                       ng-model="newCar.numChassee" required>
                                <label for="num chassee">num chassee</label>

                            </div>


                            <div class="input-field col s6">
                                <input id="num_immatricule" type="text" class="validate" name="num_immatricule"
                                       ng-model="newCar.numImmatricule" required>
                                <label for="num_immatricule">num immatricule</label>

                            </div>

                            <div class="input-field col s12">
                                <input id="prix_location" type="text" class="validate" name="prix_location"
                                       ng-model="newCar.prixLocation" required >
                                <label for="prix_location">Prix de location <i class="material-icons">attach_money</i></label>

                            </div>








                            <div class="col s12">
                                <label>Modele </label>
                                <select class="browser-default" ng-model="newCar.Modele_idModele" required name="modele">

                                    <option value="{{m.idModele }}" ng-repeat=" m in models"
                                            >
                                        {{  m.nom + ' ' + m.marque   }}

                                    </option>


                                </select>
                            </div>

                            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="addCar()"
                                    >Save
                                <i class="material-icons right">send</i>
                            </button>

                        </div>



  <div class="row">

                        <p ng-show="submitted && CarForm.date_visite_tecknique.$error.required" class="red-text">
                            vous devez indiquez la date de visite technique
                        </p>

                        <p ng-show="submitted && CarForm.date_vignette.$error.required" class="red-text">
                            vous devez choisr une date vignette
                        </p>

                        <p ng-show="submitted && CarForm.date_Asurance.$error.required" class="red-text">
                            vous devez saisir une date_Asurance
                        </p>

                        <p ng-show="submitted && CarForm.kilometrage.$error.required" class="red-text">
                            vous devez choisr la kilometrage
                        </p>

      <p ng-show="submitted && CarForm.nbPlaces.$error.required" class="red-text">
          vous devez choisr le nombre de places
      </p>

      <p ng-show="submitted && CarForm.numChassee.$error.required" class="red-text">
          vous devez choisr le numéro de chassée
      </p>

      <p ng-show="submitted && CarForm.num_immatricule.$error.required" class="red-text">
          vous devez choisr le num_immatricule
      </p>

      <p ng-show="submitted && CarForm.prix_location.$error.required" class="red-text">
          vous devez choisr le prix_location
      </p>
      <p ng-show="submitted && CarForm.modele.$error.required" class="red-text">
          vous devez choisr le modele
      </p>



  </div>

                    </form>










                    <p>Ajouter un nouveau modéle <a class="btn-floating btn-large waves-effect "
                                                        ng-click="change()"><i class="material-icons">add</i></a></p>




                    <form ng-submit="addModele()" name="ModeleForm" novalidate ng-show="show" ng-model="ModeleForm">


                        <div class="row">

                            <div class="input-field col s6">
                                <input id="Nom" type="text" class="validate" name="nom"
                                       ng-model="newModele.nom" required>
                                <label for="Nom">Nom</label>

                            </div>
                            <div class="input-field col s6">
                                <input id="marque" type="text" class="validate"
                                       ng-model="newModele.marque"  required name="marque">
                                <label for="marque">Marque</label>

                            </div>

                            <div class="input-field col s12">
                                <input id="puissance" type="text" class="validate"
                                       ng-model="newModele.puissance"  required name="puissance">
                                <label>puissance</label>

                            </div>


                            <div class="col s12">
                                <label>Carburant </label>
                                <select class="browser-default" ng-model="newModele.carburant" required
                                        name="Carburant">

                                    <option value="essence">Essence</option>
                                    <option value="diesel">Diesel</option>

                                </select>
                            </div>



                            <div class="input-field col s4">
                                <input id="gps" type="text" class="validate"
                                       ng-model="newModele.prixGPS"  required name="prixGps">
                                <label>Prix GPS</label>

                            </div>

                            <div class="input-field col s4">
                                <input id="chair" type="text" class="validate"
                                       ng-model="newModele.prixChaisse"  required name="prixChaise">
                                <label>Prix chaisse</label>

                            </div>


                            <div class="input-field col s4">
                                <input id="chauffeur" type="text" class="validate"
                                       ng-model="newModele.prixChauffeur"  required name="prixChauffeur">
                                <label>Prix chauffeur</label>

                            </div>


                            <button type="submit" class="btn waves-effect waves-light" type="submit" name="action"
                                    >Save
                                <i class="material-icons right">send</i>
                            </button>


                        </div><!--end of row-->




                        <div class="row">




                            <p ng-show="submitted2 && ModeleForm.nom.$error.required" class="red-text">
                                vous devez indiquez le nom du modéle
                            </p>

                            <p ng-show="submitted2 && ModeleForm.marque.$error.required" class="red-text">
                                vous devez indiquez la marque
                            </p>

                            <p ng-show="submitted2 && ModeleForm.puissance.$error.required" class="red-text">
                                vous devez indiquez la puissance du nouveau modéle
                            </p>
                            <p ng-show="submitted2 && ModeleForm.Carburant.$error.required" class="red-text">
                                vous devez indiquez le Carburant
                            </p>

                            <p ng-show="submitted2 && ModeleForm.prixGps.$error.required" class="red-text">
                                vous devez indiquez le prix GPS
                            </p>
                            <p ng-show="submitted2 && ModeleForm.prixChaise.$error.required" class="red-text">
                                vous devez indiquez le prix prixChaise
                            </p>

                            <p ng-show="submitted2 && ModeleForm.prixChauffeur.$error.required" class="red-text">
                                vous devez indiquez le prix prixChaise
                            </p>

                        </div>
                    </form><!--end of form-->








                </div>
                <!--end of col-s12-->







                    <div ui-view></div>





               <div class="row"  ng-repeat="c in cars" >

                   <div class="col md6 ">

                       <div class="card-image waves-effect waves-block waves-light">
                           <img class="activator" ng-src="/images/{{c.photo}}.jpg" width="250px" height="300px">
                       </div><!--end of images-->

                       <div class="card-action">
                           <a class="btn-floating btn-large " ng-click="deleteCar(c.idVoiture)">
                               <i class="material-icons">delete_forever</i>
                           </a>



                               <a class=" btn-floating btn-large red" ng-click="editCar(c.idVoiture)">
                                   <i class="large material-icons">mode_edit</i>
                               </a>



                       </div>
                   </div>

                   <div class="col md6 ">
                     <span class="card-title blue-text text-darken-2">{{ c.Modele.nom + ' ' +
                               c.Modele.marque + ' ' + c.numImmatricule }}
                                <i class="material-icons right">more_vert</i>
                            </span>


                       <table>
                           <thead>
                           <th><u>Num chassee</u></th>
                           <th><u>Num immatrocule </u></th>
                           <th>Prix location</th>
                           <th>catégorie</th>
                           <th>carburant</th>
                           <th>puissance</th>

                           </thead>
                           <tbody>
                           <tr>
                               <td>{{ c.numChassee }}</td>
                               <td>{{ c.numImmatricule }}</td>
                               <td>{{  c.prixLocation | currency:"DT" }}</td>
                               <td> {{ c.categorie }}</td>
                               <td> {{  c.Modele.carburant }}</td>
                               <td> {{  c.Modele.puissance  }}</td>


                           </tr>


                           </tbody>
                       </table><!--ed of table-->

                       <ul>
                           <li><p><strong>Nombre de réservations totale</strong> : {{ c.Reservations.length }} </p></li>
                           <li><p><strong>Chiffre d'affaires totale réalisée</strong> :
                               {{ chiffreAffaire[$index] + ' '
                               | currency:" DT" }} </p>  </li>


                       </ul>

                   </div>
               </div>





















            </div><!--end of row-->










        </div><!--end of m-box-->




    </div><!--end of container-->
</section>
<!--end content-->
