<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>King Rent Car</title>


    <link rel="stylesheet" href="/bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css">
    <link rel="stylesheet" href="/bower_components/angular-notify/dist/angular-notify.css">
    <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/bower_components/angular-socialshare/angular-socialshare.css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="components/angular-atomic-notify/dist/angular-atomic-notify.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="images/favicon (8).ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon (8).ico" type="image/x-icon">
    <style>
        nav ul a,
        nav .brand-logo {
            color: #444;
        }

        p {
            line-height: 2rem;
        }

        .button-collapse {
            color: #ee6e73;
        }

        .parallax-container {
            min-height: 380px;
            line-height: 0;
            height: auto;
            color: rgba(255,255,255,.9);
        }
        .parallax-container .section {
            width: 100%;
        }

        @media only screen and (max-width : 992px) {
            .parallax-container .section {
                position: absolute;
                top: 40%;
            }
            #index-banner .section {
                top: 10%;
            }
        }

        @media only screen and (max-width : 600px) {
            #index-banner .section {
                top: 0;
            }
        }


        .icon-block {
            padding: 0 15px;
        }

        footer.page-footer {
            margin: 0;
        }




        .parallax img
        {
            background-repeat: no-repeat;
            background-size: cover;
        }
        .parallax-container
        {
            color: black;
        }
        @media only screen and (max-width : 600px) {
            .parallax-container
            {
                color: white;
            }
        }
        nav a.button-collapse
        {
            color:black;
        }
        .purple.lighten-1 {
            background-color: #CC0066 !important;
        }
        .teal-text.text-lighten-2 {
            color: #CC0066 !important;
        }
        .share-buttons{
            list-style: none;
        }

        .share-buttons li{
            display: inline;
        }
        nav
        {
            overflow: visible;
        }
        nav li a {
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;
        }
        body
        {




        }


    </style>

    <!--scripts loaded-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="http://platform.twitter.com/widgets.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>

    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="components/angular-socket-io/socket.min.js"></script>

    <script src="components/angular-atomic-notify/dist/angular-atomic-notify.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>

    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="/bower_components/angular-carousel/src/angular-carousel.js"></script>
    <script src="/bower_components/angular-materialize/src/angular-materialize.js"></script>
    <script src="/bower_components/angular-notify/dist/angular-notify.min.js"></script>
    <script src="/bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>
    <script src="/bower_components/angular-socialshare/angular-socialshare.min.js"></script>



    <script src="/bower_components/interact/dist/interact.min.js"></script>


    <!-- Compiled and minified JavaScript -->
    <script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
    <script src="/bower_components/ng-materialize/dist/ng-materialize.min.js"></script>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src=/bower_components/materialize/dist/js/materialize.min.js></script>
    <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyBYRaa7QZ30PCCo_BJ6OR_g8dpxkld9E7M'></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="/bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>

</head>
<body>



<nav class="blue darken-1">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

        </ul>
    </div>
</nav>



<div class="center-align animated bounceIn">

    <div id="fof" class="clear">

        <div class="hgroup">
            <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
            <h2>Error ! <span>Error Server</span></h2>
        </div>
        <p>505</p>
        <p><a href="/">&laquo; Go Back</a> / <a href="/">Acceuil &raquo;</a></p>

    </div>








</div>




</body>
</html>
