<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>King Rent Car</title>

    <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--scripts loaded-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="http://platform.twitter.com/widgets.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>

    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>




    <script src="/bower_components/interact/dist/interact.min.js"></script>


    <!-- Compiled and minified JavaScript -->
    <script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
    <script src="/bower_components/ng-materialize/dist/ng-materialize.min.js"></script>
    <!--  Scripts-->

</head>
<body>



<nav class="blue darken-1">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

        </ul>
    </div>
</nav>



<div class="center-align animated bounceIn">

    <div id="fof" class="clear">

        <div class="hgroup">
            <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
            <h2>Error ! <span>Error Server</span></h2>
        </div>
        <p>505</p>
        <p><a href="/">&laquo; Go Back</a> / <a href="/">Acceuil &raquo;</a></p>

    </div>








</div>




</body>
</html>
