<div class="container">
<div class="row">

    <style>
        .has-error
        {
            color: #a94442;
        }
    </style>

    <div class="col s6" id="formlogin" >
    <form ng-submit="onSubmit()" name="adminForm" novalidate>



        <div class="row">
            <div class="input-field col s6">
                <input id="email" type="email" class="validate" ng-model="credentials.email" required name="email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="password" type="password" class="validate" required ng-model="credentials.password" required name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="adminForm.$invalid">sign-in
            <i class="material-icons right">send</i>
        </button>


    </form>


        <div ng-messages="driverForm.nom.$error" ng-if="adminForm.email.$touched" ng-class=" 'has-error' ">

            <p data-error="wrong" ng-message="required">email !
                <i class="material-icons">error</i></p>
        </div>
        <div ng-messages="driverForm.prenom.$error" ng-if="adminForm.password.$touched" ng-class=" 'has-error' ">

            <p ng-message="required">password !!
                <i class="material-icons">error</i></p>
        </div>
        </div><!--end of col s-->






</div><!--end of row-->
</div><!--end of container-->