
<div class="container animated bounceInLeft " ng-controller="voituresCtrl">



    <div ng-repeat="c in voitures" ng-if="$index % 3 == 0" class="row">








    <div class="col s12 m4 animated zoomIn" >
        <div class="card large">
            <div class="card-image">
                <img ng-src="images/{{voitures[($index )].photo}}.jpg"  class="materialboxed" width="250" height="200">
            </div>
            <div class="card-content ">
                <span class="card-title blue-text text-darken-2">{{ voitures[($index )].Modele.marque + ' ' + voitures[($index )].Modele.nom }} </span>


                <p><strong>Prix location </strong> : {{ voitures[($index  )].prixLocation }} </p>

                <p> <strong>catégorie:  </strong>{{ voitures[($index )].categorie }}</p>
                <p> <strong>carburant </strong> : {{ voitures[($index )].Modele.carburant }} </p>
                <p><strong>Places </strong> : {{ voitures[($index )].nbPlaces }}</p>



            </div>
            <div class="card-action">

                <a class="waves-effect waves-light btn" ng-click="Create2(voitures[($index )].idVoiture)">Réserver</a>

            </div>
        </div>
    </div>



    <!---->

    <div class="col s12 m4 animated zoomIn" ng-if="voitures.length > ($index + 1)">
        <div class="card large">
            <div class="card-image">
                <img ng-src="images/{{voitures[($index + 1)].photo}}.jpg" class="circle responsive-img">
            </div>
            <div class="card-content">
                <span class="card-title blue-text text-darken-2">{{ voitures[($index + 1)].Modele.marque + ' ' + voitures[($index + 1)].Modele.nom }}</span>


                <p><strong>Prix location </strong> : {{ voitures[($index +1 )].prixLocation }} </p>

                <p> <strong>catégorie:  </strong>{{ voitures[($index+1 )].categorie }}</p>
                <p> <strong>carburant </strong> : {{ voitures[($index +1)].Modele.carburant }} </p>
                <p><strong>Places </strong> : {{ voitures[($index+1 )].nbPlaces }}</p>

            </div>
            <div class="card-action">
                <a   class="waves-effect waves-light btn" ng-click="Create2(voitures[($index+1 )].idVoiture)">Réserver</a>

            </div>

        </div>
    </div>


    <!--->
    <div class="col s12 m4 animated zoomIn" ng-if="voitures.length > ($index + 2)">
        <div class="card large">
            <div class="card-image">
                <img ng-src="images/{{voitures[($index + 2)].photo}}.jpg" class="circle responsive-img">
            </div>
            <div class="card-content">
                <span class="card-title blue-text text-darken-2"> {{ voitures[($index + 2)].Modele.marque + ' ' + voitures[($index + 2)].Modele.nom }}</span>




                <p><strong>Prix location </strong> : {{ voitures[($index +2 )].prixLocation }}
                </p>

                    <p> <strong>catégorie:  </strong>{{ voitures[($index+2 )].categorie }}</p>
                    <p> <strong>carburant </strong> : {{ voitures[($index +2)].Modele.carburant }} </p>
                <p><strong>Places </strong> : {{ voitures[($index+2 )].nbPlaces }}</p>


            </div>
            <div class="card-action">
                <a  class="btn waves-effect waves-light" ng-click="Create2(voitures[($index+2 )].idVoiture)">
                    Réserver   <i class="material-icons right">send</i></a>


            </div>
        </div>
    </div>






</div><!--end of class row------>

















</div><!--end of ng-conrtroller---->

<script>
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
</script>