<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="voitureDetailsCtrl">


    <div class="modal-dialog">

        <div class="modal-content">


            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>


            <div class="modal-body">


                <form novalidate ng-submit="addVoiture()">




                    <div class="form-group">
                        <label>Num Ahmed</label>
                        <input type="int" class="form-control"  placeholder="Num série" ng-model="voiture.num_serie" required>
                    </div><!--end of form-group-->

                    <div class="form-group">
                        <label >Num immatricule</label>
                        <input type="int" class="form-control"  placeholder="Num immatricule"  ng-model="voiture.immatricule"
                               required>
                    </div><!--end of form-group-->


                    <div class="form-group">
                        choisir une modéle pour la voiture
                        <select class="selectpicker" ng-model="voiture.modele">
                            <option value="Ponto">Ponto</option>
                            <option value="Peugeot">Peugeot</option>
                            <option value="Kojo" >Kojo</option>
                        </select>
                    </div><!--end of form-group-->



                    <div class="form-group">
                        <label >puissance</label>
                        <input type="int" class="form-control"  placeholder="puissance"  ng-model="voiture.puissance"
                               required>
                    </div><!--end of form-group-->


                    <div class="form-group">
                        <label >Kilométrage</label>
                        <input type="int" class="form-control"  placeholder="Kilométrage"  ng-model="voiture.kilometrage"
                               required>
                    </div><!--end of form-group-->

                    <div class="form-group">
                        choisir le type de carburant pour cette voiture
                        <select class="selectpicker" ng-model="voiture.carburant">
                            <option value="Essence">Essence</option>
                            <option value="Diesel">Diesel</option>

                        </select>
                    </div><!--end of form-group-->

                    <div class="form-group">
                        <label >nombre de places</label>
                        <input type="int" class="form-control"  placeholder="places"  ng-model="voiture.nombre_ports"
                               required>
                    </div><!--end of form-group-->


                    <div class="form-group">
                        <label>Choisir une photo pour la voiture</label>
                        <input type="file" class="form-control">
                    </div><!--end of form-group-->






                    <div class="form-group">
                        <label >Prix de location par jour</label>
                        <input type="int" class="form-control"  placeholder="Prix location"  ng-model="voiture.Prix">
                    </div><!--end of form-group-->

                    <div class="form-group">
                        <label >Date d'assurance</label>
                        <input type="text" class="form-control"  placeholder=""  ng-model="voiture.date_assurance"
                               required>
                    </div><!--end of form-group-->


                    <div class="form-group">
                        <label >Date de visite tecknqiue</label>
                        <input type="text" class="form-control"  placeholder=""  ng-model="voiture.date_visite"
                               required>
                    </div><!--end of form-group-->

                    <div class="form-group">
                        <label >Date de Vignette</label>
                        <input type="text" class="form-control"  placeholder=""  ng-model="voiture.date_vignette"
                               required>
                    </div><!--end of form-group-->


                    <button type="submit" class="btn btn-success">Modifier</button>
                </form>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Fermer</button>
            </div>


        </div>
    </div>
</div>