
<section class="content" ng-controller="conducteursController">
    <div class="container" style="width: 50%; padding: 0 0.5rem;">
        <div class="m-box">
            <div class="row">

                <div class="col s12">
                    <h3> Conducteurs</h3>





                    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
                        <a class="btn-floating btn-large red">
                            <i class="large mdi-navigation-menu"></i>
                        </a>
                        <ul>
                            <li><a class="btn-floating red" ui-sref=".add"><i class="material-icons">add</i></a></li>
                          <li><a class="btn-floating red" ui-sref=".mail"><i class="material-icons">email</i></a> </li>

                        </ul>
                    </div>






                    <div ui-view> </div>


















                    <table class="bordered">
                        <thead>
                        <tr>
                            <th>email</th>
                            <th>Nom Prenom</th>
                            <th>Num tel</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="dr in drivers">
                            <td>{{ dr.email }}</td>
                            <td>{{  dr.nom + " " + dr. prenom }}</td>
                            <td>{{ dr.numTel }}</td>

                            <td>

                                <a class="btn-floating btn waves-effect waves-light " ng-click="editDriver(dr.idConducteur)"> <i class="large material-icons">mode_edit</i></a>
                                <a class="btn-floating  waves-effect waves-light " ng-click="deleteDriver(dr.idConducteur)"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>












                </div>
                <!--end of col-s12-->

            </div><!--end of row-->

        </div><!--end of m-box-->




    </div><!--end of container-->
</section>
<!--end content-->
