<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>


<h1>KING RENT A CAR</h1>



<div ng-controller="ContratsController">
    {{ Reservation }}



<div class="row">

    <div class="col s6">





<div class="divider"></div>



<div class="section">
    <h5>Client</h5>


    <div class="row">
        <div class="col s1">
            <p>Num Cin</p>
            </div>
        <div class="input-field col s3">



            <input id="first_name" type="text" class="validate" ng-model="Reservation.Client.numCin">

        </div>
    </div><!--end of row-->


    <!---------------------------->
    <div class="row">
        <div class="col s1">
            <p>Nom</p>
        </div>
        <div class="input-field col s3">
            <input id="nom" type="text" class="validate" ng-model="Reservation.Client.nom">
        </div>
    </div><!--end of row-->



    <!---------------------------->

    <div class="row">
        <div class="col s1">
            <p>Prénom</p>
        </div>
        <div class="input-field col s3">
            <input id="Prénom" type="text" class="validate" ng-model="Reservation.Client.prenom">
        </div>

    </div><!--->

    <!---------------------------->

    <div class="row">
        <div class="col s1">
            <p>Télephone</p>
        </div>
        <div class="input-field col s3">
            <input id="tel1" type="text" class="validate" ng-model="Reservation.Client.numTel1">

        </div>
    </div><!--end of row-->

    <!---------------------------->

    <div class="row">
        <div class="col s1">
        <p>Télephone2</p>
            </div>

        <div class="input-field col s3">
            <input id="tel2" type="text" class="validate" ng-model="Reservation.Client.numTel2">

        </div>
    </div><!--end of row-->

    <!---------------------------->


    <div class="row">
        <div class="col s1">
        <p>Adresse</p>
            </div>
        <div class="input-field col s3">
            <input  type="text" class="validate" ng-model="Reservation.Client.adresse">

        </div>
    </div><!--end of row-->

    <!---------------------------->


    <div class="row">
        <div class="col s1">
        <p>Pemris de conduit</p>
            </div>
        <div class="input-field col s3">
            <input  type="text" class="validate" ng-model="Reservation.Client.numPermis">

        </div>
    </div><!--end of row-->

    <!---------------------------->

    <div class="row">
        <div class="col s1">
        <p>Date d'obtention du permis </p>
            </div>
        <div class="input-field col s3">
            <input  type="text" class="validate" ng-model="Reservation.Client.datePermis">

        </div>
    </div><!--end of row-->


    <!---------------------------->









</div><!---end of section----->



<!-------------------------------------------------------------------->

<div class="divider"></div>

<!----------------->


<div class="section">
    <h5>le Véhicule</h5>



    <div class="row">
        <div class="col s1">
            <p>Marque</p>
            </div>
        <div class="input-field col s3">
            <input id="Marque" type="text" class="validate" ng-model="Reservation.Modele.marque">

        </div>
    </div>


    <!----------------->
    <div class="row">
        <div class="col s1">
            <p>Modéle</p>
            </div>
        <div class="input-field col s3">
            <input id="Modéle" type="text" class="validate" ng-model="Reservation.Modele.nom">

        </div>
    </div>


    <!----------------->
    <div class="row">
        <div class="col s3">
            <p>Num immatricule</p>
            </div>
        <div class="input-field col s3">
            <input id="imm" type="text" class="validate" ng-model="Reservation.Voiture.numImmatricule">

        </div>
    </div>
    <!----------------->


</div><!--end of section---------->



<div class="divider"></div>

        <!-------------------------------------------------------------------->


<div class="section">
    <h5>Départ</h5>


    <div class="row">
        <div class="col s1">
            <p>lieu/Place</p>
        </div>
        <div class="input-field col s3">
            <input id="lieuPrise" type="text" class="validate" ng-model="Reservation.lieuPrise">

        </div>

    </div><!--->

    <div class="row">
        <div class="col s1">
            <p>Date & horaire</p>
            </div>
        <div class="input-field col s3">
            <input id="date_debut"class="validate" ng-model="Reservation.dateDebut">

        </div>
    </div><!--end of row------->



    <div class="row">
        <div class="col s1">
            <p>kilometrage Début</p>
        </div>
        <div class="input-field col s3">
            <input class="validate" ng-model="Reservation.Voiture.kilometrage">

        </div>
    </div><!--end of row------->





    </div><!--end of section------------------>


    <div class="divider"></div>

        <!-------------------------------------------------------------------->


    <div class="section">
        <h5>le Retour</h5>






        <div class="row">
            <div class="col s1">
                <p>Lieu Retour</p>
                </div>
            <div class="input-field col s3">
                <input id="lieuRetour" type="text" class="validate" ng-model="Reservation.lieuRetour">
            </div>
        </div><!--end of row-->



    <div class="row">
        <div class="col s1">
            <p>Date & Horaire</p>
            </div>
        <div class="input-field col s3">
            <input id="date_fin"  class="validate" ng-model="Reservation.dateFin">

        </div>
    </div><!--end of row------->




</div><!--end of section--------------->


    <div class="divider"></div>
    <div class="section">
        <h5>Prolngation</h5>

        <div class="row">
            <div class="col s1">
                <p>Date Début Prolongation</p>
            </div>
            <div class="input-field col s3">
                <input id="debutPrl" type="text" class="validate" ng-model="newContrat.date_debut_prolngation">

            </div>
        </div><!--end of row-->


        <div class="row">
            <div class="col s1">
                <p>Date Fin Prolongation</p>
            </div>
            <div class="input-field col s3">
                <input  type="text" class="validate" ng-model="newContrat.date_fin_prolngation">
            </div>
        </div><!--end of row-->

        <div class="row">
            <div class="col s1">
                <p>Retour effectif </p>
                </div>
            <div class="input-field col s3">
                <input  type="text" class="validate" ng-model="newContrat.date_fin_prolngation">

            </div>
        </div><!--end of row-->



    </div><!--end of section---->




    </div><!--end of col s6------------------------>

    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->



<div class="col s6">



<div class="section">
    <h5>Payement</h5>



    <div class="row">
        <div class="col s1">
            <p>Montant</p>
            </div>
        <div class="input-field col s3">
            <input id="prixtt" type="text" class="validate" ng-model="newContrat.prixTT" >

        </div>

    </div><!--->


    <div class="row">
        <div class="col s1">
            <p>Mode Payement</p>
            </div>
        <div class="input-field col s3">
            <input id="mdpayement" type="text" class="validate" ng-model="newContrat.modePayement">
        </div>
    </div><!--end of row-->


</div>  <!-------------------------------------------------------------------->



    <div class="divider"></div>

    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->





<div class="section">
    <h5>Retard</h5>

    <div class="row">
        <div class="col s1">
            <p>Durée Retard</p>
            </div>
        <div class="input-field col s3">
            <input id="dureeRtrl" type="text" class="validate" ng-model="newContrat.dureeRetard">

        </div>
    </div><!--end of row-->


    <div class="row">
        <div class="col s1">
            <p>Pénalité Par jour</p>
            </div>
        <div class="input-field col s3">
            <input id="penaliteJour" type="text" class="validate" ng-model="newContrat.penaliteJour">
        </div>
    </div><!--end of row-->




    <div class="row">
        <div class="col s1">
            <p>Totale Retard</p>
            </div>
        <div class="input-field col s3">
            <input id="totaleRetard" type="text" class="validate" ng-model="newContrat.totaleRetard">
        </div>
    </div><!--end of row-->





</div>  <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->
    <!-------------------------------------------------------------------->



    <div class="divider"></div>



    <div class="section">
        <h5>Réglements</h5>


        <div class="row">
            <div class="col s1">
                <p>Nombre de jours</p>
            </div>
            <div class="input-field col s3">
                <input  type="text" class="validate" >

            </div>
        </div><!--end of row-->

        <div class="row">
            <div class="col s1">
                <p>TVA</p>
            </div>
            <div class="input-field col s3">
                <input id="tva" type="text" class="validate" ng-model="newContrat.tva">
            </div>

        </div><!------>



        <div class="row">
            <div class="col s1">
                <p>Prix Hors taxe</p>
            </div>
            <div class="input-field col s3">
                <input  type="text" class="validate" ng-model="newContrat.prixHt">

            </div>
        </div><!--end of row-->


        <div class="row">
            <div class="col s1">
                <p>Montant totale</p>
            </div>
            <div class="input-field col s3">
                <input  type="text" class="validate" ng-model="newContrat.prixtt">

            </div>
        </div><!--end of row--------------->





    </div><!--end of section------------------->



    </div><!---------------------end of col s6--------------------------------->
           <!--------------------------------------------------------------------->
    <!-------------------------------------------------------------------------->





</div><!--end of row--->



    <div class="row">
        <div class="col s3">
            <a class="waves-effect waves-light btn" ng-click="generateContrat()"><i class="material-icons">save</i>Sauver</a>
        </div><!--end col--s3-->
    </div><!--end of row-->
    <div class="row">
        <div class="col s3">
            <a class="waves-effect waves-light btn"><i class="material-icons">picture_as_pdf</i>Génere PDF</a>
        </div><!--end of col s3-->
    </div><!--end of row-->
</div>


</div><!--end of div for ng-controller-->
</body>
</html>