<section class="content" ng-controller="ParametresController">
    <div class="container" style="width: 50%; padding: 0 0.5rem;">
        <div class="m-box">
            <div class="row">

                <div class="col s12">
                    <h3>    Paramétres {{ $rootScope.locationAdd }}</h3>
                </div>
                <!--end of col-s12-->

            </div><!--end of row-->







            <div class="row">



                <table>
                    <thead>
                    <tr>
                        <th data-field="id">Manager Foulen ben Foulen </th>
                        <th data-field="name">Ajout <i class="material-icons">note_add</i></th>
                        <th data-field="price">Suppresion<i class="material-icons">delete</i></th>
                        <th>Modification<i class="material-icons">update</i></th>
                    </tr>
                    </thead>

                    <tbody>
                    <form ng-submit="save()">
                    <tr>
                        <td><h5>locations</h5></td>
                       <td>
                           <p>
                               <input type="checkbox" id="test4" ng-model="Access"/>
                               <label for="test4">Auth</label>
                           </p>
                       </td>

                        <!------------->

                        <td>
                            <p>
                                <input type="checkbox" id="test6" />
                                <label for="test6">Auth</label>
                            </p>
                        </td>
<!---------->

                        <td>
                            <p>
                                <input type="checkbox" id="test7" />
                                <label for="test7">Auth</label>
                            </p>
                        </td>


                    </tr>
                    <tr>
                        <td><h5>Voitures</h5></td>

                        <td>
                            <p>
                                <input type="checkbox" id="test8" />
                                <label for="test8">Auth</label>
                            </p>
                        </td>
                            <!------------->
                        <td>
                            <p>
                                <input type="checkbox" id="test9" />
                                <label for="test9">Auth</label>
                            </p>
                        </td>
<!------------->

                        <td>
                            <p>
                                <input type="checkbox" id="test10" />
                                <label for="test10">Auth</label>
                            </p>
                        </td>


                    </tr>

                    <tr>
                        <td><h5>Entretients</h5></td>

                        <td>
                            <p>
                                <input type="checkbox" id="test11" />
                                <label for="test11">Auth</label>
                            </p>
                        </td>

                        <!------------->

                        <td>
                            <p>
                                <input type="checkbox" id="test12" />
                                <label for="test12">Auth</label>
                            </p>
                        </td>
                        <!---------->

                        <td>
                            <p>
                                <input type="checkbox" id="test13" />
                                <label for="test13">Auth</label>
                            </p>
                        </td>

                    </tr>



                    <tr>

                        <td><h5>Contrats</h5></td>

                        <td>
                            <p>
                                <input type="checkbox" id="test5" />
                                <label for="test5">Red</label>
                            </p>
                        </td>

                        <!------------->

                        <td>
                            <p>
                                <input type="checkbox" id="test5" />
                                <label for="test5">Red</label>
                            </p>
                        </td>
                        <!---------->

                        <td>
                            <p>
                                <input type="checkbox" id="test5" />
                                <label for="test5">Red</label>
                            </p>
                        </td>
                    </tr>





                    <tr>

                        <td><h5>Factures</h5></td>

                        <td>
                            <div class="switch">
                                <label>
                                    Off
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </td>

                        <!------------->

                        <td>
                            <div class="switch">
                                <label>
                                    Off
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </td>
                        <!---------->

                        <td>
                            <div class="switch">
                                <label>
                                    Off
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </td>

                    </tr>
                    <tr>

                        <td><h5>Clients</h5></td>
                        <td>
                            <p>
                                <input type="checkbox" id="test15" />
                                <label for="test15">Red</label>
                            </p>
                        </td>

                        <!------------->

                        <td>
                            <p>
                                <input type="checkbox" id="test16" />
                                <label for="test16">Red</label>
                            </p>
                        </td>
                        <!---------->

                        <td>
                            <p>
                                <input type="checkbox" id="test17" />
                                <label for="test17">Red</label>
                            </p>
                        </td>

                    </tr>

                        <button class="waves-effect waves-light btn" ng-click="save()">button</button>
                    </form>
                    </tbody>
                </table>



            </div>














        </div><!--end of m-box-->




    </div><!--end of container-->
</section>
<!--end content-->