<section class="content">
    <div class="container" style="width: 50%; padding: 0 0.5rem;" ng-controller="PreReservationCtrl" >
        <div class="m-box">
            <div class="row">

                <div class="col s12">
                    <h3> Réservations  {{ nbr }}</h3>






                    <div class="card blue-grey darken-1" ng-repeat="pre in prereservations ">
                        <div class="card-content white-text">

                            <span class="card-title">Réservation n° {{ pre.idReservation }}</span>
                            <table>
                                <thead>
                                <th>Client</th>
                                <th>Voiture</th>
                                <th>Date Réservation <i class="material-icons">date_range</i></th>
                                <th>lieux</th>

                                </thead>

                                <tbody>
                                  <tr>
                                      <td>
                                          {{ pre.Client.nom + " " + pre.Client.prenom}}
                                          <br>
                                      {{ pre.Client.email }}
                                          <br>
                                      num tel1 {{ pre.Client.numTel1 }}
                                      </td>

                                      <td>
                                          {{ pre.Modele.nom + " " + pre.Modele.marque + " " + pre.Voiture.numImmatricule   }}

                                      </td>


                                      <td>
                                        {{ pre.dateDebut | date:'MM/dd/yyyy'  + " " + pre.heureDebut }} h
                                          <br>
                                        {{ pre.dateFin | date:'MM/dd/yyyy' +" " + pre.heureFin  }} h
                                      </td>

                                      <td>
                                         {{ pre.lieuPrise }}
                                          <br>
                                         {{ pre.lieuRetour }}
                                      </td>

                                  </tr>
                                </tbody>
                            </table>

                            <div class="card-action">
                                <a ng-click="confirmer(pre.idReservation)">Confimer</a>
                                <a ng-click="delete(pre.idReservation)">Rejeter</a>
                            </div>

                            </div><!--end of card content-->
                        </div><!--end oc card blue-->
















                </div>
                <!--end of col-s12-->

            </div><!--end of row-->

        </div><!--end of m-box-->




    </div><!--end of container-->
</section>
<!--end content-->
