
<div class="container animated rollIn">
    <div class="card-panel z-depth-5">
        <div class="row">
            <div class="col s12 m6">



                <h4 class="center blue-text text-darken-2"> Contact</h4>
                <div class="row" ng-controller="ContactCtrl">

                    <form class="col s12 m12" ng-submit="sendMail()">
                        <div class="row">
                            <div class="input-field col s12 m12">
                                <i class="mdi-action-account-circle prefix"></i>
                                <input id="icon_prefix" type="text" class="validate" ng-model="data.nom">
                                <label for="icon_prefix">Nom complet</label>
                            </div>

                            <div class="input-field col s12 m12">
                                <i class="mdi-communication-email prefix"></i>
                                <input id="icon_email" type="email" class="validate" ng-model="data.email">
                                <label for="icon_email">Email</label>
                            </div>

                            <div class="input-field col s12 m12">
                                <i class="mdi-editor-mode-edit prefix"></i>
                                <textarea id="icon_prefix2" class="materialize-textarea" ng-model="data.text"></textarea>
                                <label for="icon_prefix2">Message</label>
                            </div>

                            <button class="btn waves-effect waves-light center blue" type="submit" name="action">Envoyez Votre Message&nbsp;
                                <i class="mdi-content-send"></i>
                            </button>

                        </div><!--row-->
                    </form>







                </div><!--row-->




            </div><!--col-->





            <div class="col s12 m5 offset-m1">
                <br>
                <br>
                <h6 class="blue-text text-darken-2"><strong>King Rent Car</strong></h6>
               66, Avenue Taieb Mhiri,. 2080, Ariana, Tunisie,
                <h6 class="blue-text text-darken-2"><strong>E-mail </strong> :</h6>
               <p>king.rent.car@hotmail.com</p>


                <h6 class="blue-text text-darken-2"><strong>Fax </strong> :</h6>
                <p>(+216) 71 710 853</p>

                <h6 class="blue-text text-darken-2"> <strong>Phone : </strong> </h6>
                (+216) 71 710 853<br>
                    (+216) 28 868 001<br>
                    (+216) 54 161 052

                <ul class="share-buttons">

                    <li> <a facebook class="facebookShare" data-url='http://www.google.com.au' data-shares='shares'>{{ shares }}</a></li>
                    <li><div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='http://google.com' data-action='share'></div></li>
                    <li>
                        <div linkedin class="linkedinShare" data-url='http://www.google.com.au' data-title='Linkedin Share' data-summary="testing Linkedin Share" data-shares='linkedinshares'>{{linkedinshares}}</div>
                    </li>
                    <li>
                        <a twitter  data-lang="en" data-count='horizontal' data-url='http://google.com' data-via='notsosleepy' data-size="medium" data-text='Testing Twitter Share' ></a>
                    </li>
                </ul>

            </div>



        </div><!--row-->


        <div class="container">
            <div class="video-container">
                <div style="width:500px;max-width:100%;overflow:hidden;height:500px;color:red;"><div id="embedded-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=King+Rent+a+Car,+Ariana,+Gouvernorat+de+Tunis,+Tunisie&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embedded-map-html" href="http://www.dog-checks.com" id="authorize-maps-data">dog checks</a><style>#embedded-map-canvas .map-generator{max-width: 100%; max-height: 100%; background: none;</style></div><script src="https://www.dog-checks.com/google-maps-authorization.js?id=3daadf96-acf6-dd97-b79c-f8536dc2e817&c=embedded-map-html&u=1463941404" defer="defer" async="async"></script>
            </div>
        </div>


    </div><!--card-->
</div><!--conatiner-->

