<div class="row">
    <form class="col s12">
        <div class="row">


            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="nom" type="text" class="validate">
                    <label for="nom">Nom</label>
                </div>
            </div>

            <!--------------->
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">textsms</i>
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Message</label>
                </div>

            </div>

            <div class="col md4">
                <i class="material-icons prefix">mode_edit</i>
                <a class="waves-effect waves-light btn">Envoyer</a>
                </div>




    </form>
</div>



