<footer class="page-footer  blue darken-1" style="font-family: 'Merriweather', serif;">
    <div class="container">
        <div class="row">



            <div class="col l6 s12">
                <h5 class="white-text">King Rent Car <i class="material-icons">location_city</i></h5>
                <p class="grey-text text-lighten-4">
                    66, Avenue Taieb Mhiri,. 2080, Ariana, Tunisie,
                </p>

                <form name="newsleeterForm" class="col s6 white" ng-submit="sendEmail()">

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" required ng-model="data.email">
                            <label for="email">Newsletter </label>
                            <a class="waves-effect waves-light btn blue">s'abonner</a>
                        </div>


                    </div>
                </form>

            </div>
            <div class=" col l3 s12" >
                <h5 class="white-text">horaire <i class="material-icons">av_timer</i></h5>


                <table>
                    <thead>
                    <tr class="white-text">
                        <td><strong>lundi</strong></td>
                        <td>08:00pm-06:00pm</td>

                    </tr>
                    <tr class="white-text">
                        <td><strong>Mardi</strong></td>
                        <td>08:00pm-06:00pm</td>

                    </tr>
                    <tr class="white-text">
                        <td><strong>Mercredi</strong></td>
                        <td>08:00pm-06:00pm</td>

                    </tr>
                    <tr class="white-text">
                        <td><strong>Jeudi</strong></td>
                        <td>08:00pm-06:00pm</td>

                    </tr>
                    <tr class="white-text">
                        <td><strong>Vendredi</strong></td>
                        <td>08:00pm-06:00pm</td>

                    </tr>

                    <tr class="white-text">
                        <td><strong>Samedi</strong></td>
                        <td>08:00pm-05:00pm</td>

                    </tr>
                    </thead>


                </table>

            </div>
            <div class="col l3 s12">
                <h6 class="white-text">Suivez Nous</h6>

                <ul class="share-buttons">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook"><img src="/images/flat_web_icon_set/inverted/Facebook.png"></a></li>
                    <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><img src="/images/flat_web_icon_set/inverted/Twitter.png"></a></li>
                    <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img src="/images/flat_web_icon_set/inverted/GooglePlus.png"></a></li>
                </ul>

                <h6 class="white-text">Contactez Nous</h6>
                <h6 class="white-text"><strong>E-mail <i class="material-icons">email</i> </strong> :</h6>
                <p class="white-text"><strong>king.rent.car@hotmail.com</strong></p>


                <h6 class="white-text"><strong>Fax <i class="material-icons">phone</i> </strong> :</h6>
                <p class="white-text"><strong>(+216) 71 710 853</strong></p>



            </div>
        </div>
    </div>

</footer>