<footer class="page-footer">
    <div class="row">




        <div class="col s6">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h6 class="mdl-mega-footer--heading">Details</h6>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Qui Sommes Nous</a></li>
                <li><a href="#">Nous Contactez</a></li>
                <li><a href="#">Conditions génerales</a></li>
            </ul>
        </div>



        <div class="col s6">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>

            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Google+</a></li>
                <li><a href="#">Twitter</a></li>

            </ul>
        </div>



    </div>
    <div class="footer-copyright">
        <div class="">
            © King Rent Car

        </div>
    </div>
</footer>