<div class="container animated rollIn ">
    <div class="row">

<style>
    body
    {
        background-color:#ffffff;
    }
</style>
            <h5 class="center-align blue-text text-darken-2">Qui Sommes Nous <a class=""><i class="material-icons">info</i></a> </h5>





        <div class="col s12 m12 offset-m2 l6 offset-l3">
            <div class="card-panel large  z-depth-1">
                <div class="row valign-wrapper">


                    <div class="col s10">
              <span class="black-text">
                          <h5 class="blue-text text-darken-1">Agence de location de voitures </h5>
                  <p><a><i class="material-icons">home</i></a> <strong>Adresse </strong> : Ariana</p>
                  <p><a><i class="material-icons">settings_phone</i></a><strong>Téléphone</strong> :71 710 853</p>
                  <p><a class=""><i class="material-icons">mail_outline</i></a> <strong>Email</strong> :king.rent.car@hotmail.com</p>
                  <p><a>
                      <i class="material-icons prefix">favorite</i>
                      <i class="material-icons prefix">favorite</i>
                      <i class="material-icons prefix">favorite</i>
                      <i class="material-icons prefix">favorite</i>
                  </a>
                  </p>


        <ul class="share-buttons">

            <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook"><img src="/images/flat_web_icon_set/inverted/Facebook.png"></a></li>
            <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><img src="/images/flat_web_icon_set/inverted/Twitter.png"></a></li>
            <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img src="/images/flat_web_icon_set/inverted/GooglePlus.png"></a></li>
        </ul>


              </span>
                    </div><!--end of col s10---->


                </div><!--end of row--->
            </div><!--end of card panel---->
        </div><!--end of col s12--->



    </div><!--end of row---->





    <div class="row">
        <div class="col md6">
         <span class="black-text"> <h5 class="blue-text text-darken-1">Notre Startégie <a class=""><i class="material-icons">face</i></a> </h5>
             <p>Notre stratégie de location de voiture vise à assurer votre confort et
                 votre totale satisfaction. Ce qui nous anime c'est la passion,
                 la qualité du détail ainsi que la perfection du service sur mesure.
             </p>
             <p>Vous avez besoin d'une location d’une voiture pour organiser des vacances
                 ou pour un rendez- vous professionnel? Contactez King Rent A Car,
                 agence de location de voiture pour tout renseignement ou pour un devis sur mesure.</p>
         </span>
        </div>

        <div class="col md6">
             <span class="black-text"> <h5 class="blue-text text-darken-1">Nos Conditions <a class=""><i class="material-icons">face</i></a> </h5></span>
            <h6 class="pink-text text-darken-2"><strong>L'abondon</strong></h6>
            <p>L'abondon est possible dans n'importe quelle station moyennant le paiement d'un frait</p>
            <hr>
            <h6 class="pink-text text-darken-2"><strong>Age et permis de conduire</strong></h6>
            <p>Etre agé de plus de 25 Ans. Pour la location d'un véhicule (category F, J or H), le locataire doit avoir au moins 30 ans.
                Avoir un permis de conduire datant de plus de 2 Ans</p>
            <hr>
            <h6 class="pink-text text-darken-2" ><strong>Caution</strong></h6>
            <p>Un dépôt de garantie est exigé à la prise en charge du véhicule Le montant de la caution varie selon la catégorie de véhicule. Seules les cartes bancaires agrées sont acceptés pour le dépôt
                (American Express, Visa, Euro card, Diners Club, MasterCard).</p>
        </div>
    </div><!--end of row--->







</div><!--end of container--->



