<div class="animated bounceInDown center row" ng-controller="homeCtrl" >
    <div class="col s6">
        <div class="card">
            <div class="card-content black-text">


                <form ng-submit="Create()" novalidate name="ReservationForm"  ng-controller="homeCtrl" ng-model="ReservationForm">
                    <h5 class="blue-text text-darken-2">Réservez maintenat  </h5>





                    <div class="row">


                        <div class="col s8">



                            <div class="col s2">
                                <label for="date_debut">Date Début</label>
                            </div><!--end of col s2--->


                            <div class="input-field col s10 validate">
                                <input input-date
                                       type="text"
                                       name="dateDebut"
                                       id="inputCreated"
                                       ng-model="newReservation.dateDebut"
                                       container="body"
                                       format="dd/mm/yyyy"
                                       months-full="{{ month }}"
                                       months-short="{{ monthShort }}"
                                       weekdays-full="{{ weekdaysFull }}"
                                       required
                                        >
                            </div><!--end of col s0--->
                        </div><!--end of col s6---->


                        <div class="col s4">


                            <div class="col s2">
                                <label for="heure_fin">Heure Début</label>
                            </div><!--end of col s2--->
                            <div class="input-field col s10">
                                <input  type="number" class="validate" ng-model="newReservation.heureDebut"
                                        required name="heureDebut">

                            </div><!--end of col s10--->


                        </div><!--end of col s6--->




                    </div><!--end of row----->







                    <div class="row">
                        <div class="col s8">



                            <div class="col s2">
                                <label for="date_fin">Date Fin</label>
                            </div><!--end of col 12-->


                            <div class="input-field col s10 validate">
                                <input input-date
                                       type="text"
                                       name="dateFin"
                                       id="dateFin"
                                       ng-model="newReservation.dateFin"
                                       container="body"
                                       format="dd/mm/yyyy"
                                       months-full="{{ month }}"
                                       months-short="{{ monthShort }}"
                                       weekdays-full="{{ weekdaysFull }}"
                                       required>

                            </div><!--end of col s10-->


                        </div><!--end of col s6---------->

                        <div class="col s4">

                            <div class="col s2">
                                <label for="heure_fin">Heure Fin</label>
                            </div><!--end of col 2-->

                            <div class="input-field col s10">
                                <input  type="number" class="validate" id="heure_fin" ng-model="newReservation.heureFin"
                                        required name="heureFin">

                            </div><!--end of col s10--->

                        </div><!--end of col s6-->

                    </div><!--end of row-->





                    <div class="row">




                        <div class="col s6">
                            <select  ng-model="newReservation.lieuPrise" material-select required name="lieuPrise" >


                                <option class="blue-text text-darken-2" value="" disabled selected>lieur de Prise</option>
                                <option value="Tunis_Chartage">Aéroport de Tunis de chartage</option>
                                <option value="Nfidha">Aéroport  de Nfidha</option>
                                <option value="Mounsatir">Aéroport Mounastir</option>
                                <option value="Djerba">Aéroport Djerba</option>
                                <option value="Hammamet_Centre_Ville">Hammamet Centre Ville</option>
                            </select>
                        </div><!--end of col s6--->


                        <div class="col s6">

                            <select  ng-model="newReservation.lieuRetour" material-select required name="lieuRetour">
                                <option class="blue-text text-darken-2" value="" disabled selected>lieur de Prise</option>
                                <option value="Tunis_Chartage">Aéroport de Tunis de chartage</option>
                                <option value="Nfidha">Aéroport  de Nfidha</option>
                                <option value="Mounsatir">Aéroport Mounastir</option>
                                <option value="Djerba">Aéroport Djerba</option>
                                <option value="Hammamet_Centre_Ville">Hammamet Centre Ville</option>
                            </select>

                        </div><!--end of col s6--->













                    </div><!--end of row---->

                    <div class="row" style="color: #d32f2f">




                        <p ng-show="submitted && newReservation.dateDebut>newReservation.dateFin"
                           class="center-align">
                            Vous devez choisir des  Dates valides <i class="material-icons">error</i>
                        </p>
                        <p ng-show=" submitted && ReservationForm.dateDebut.$error.required ">
                            Veuillez indiquer une date de debut s'il vous plaît. <i class="material-icons">error</i>
                        </p>

                        <p ng-show="submitted && ReservationForm.dateFin.$error.required ">
                            Veuillez indiquer une date de retour s'il vous plaît. <i class="material-icons">error</i>
                        </p>

                        <!---------------------------->


                        <p ng-show=" submitted && ReservationForm.heureDebut.$error.required" >
                            Veuillez indiquer une heure de prise s'il vous plaît. <i class="material-icons">error</i>
                        </p>




                        <p ng-show="submitted && ReservationForm.heureFin.$error.required">

                            Veuillez indiquer une heure de retour s'il vous plaît.  <i class="material-icons">error</i>
                        </p>


                        <p ng-show="submitted && ReservationForm.lieuRetour.$error.required">

                            Merci d'indiquer le lieu de Prise  <i class="material-icons">error</i>
                        </p>

                        <p ng-show="submitted && ReservationForm.lieuPrise.$error.required">

                            Merci d'indiquer le lieu de Retour  <i class="material-icons">error</i>
                        </p>



                    </div>

                    <button class="waves-effect waves-light btn" >Réservez</button>




                </form>





            </div>
        </div>

    </div><!--end of col s6---->


    <div class="col s2">
        <div class="parallax"><img src="/images/fullscreen.jpg" alt="img"  width="500px" height="100px"></div>
    </div>




</div>
