<div class="container animated bounceInLeft" ng-controller="tarifCtrl">
    <div class="row z-depth-5">




        <h4 class=" center-align truncate animated rollIn blue-text text-darken-2">Nos Tarifs</h4>

        <table class="bordered highlight centered responsive-table  card-panel">
            <thead>
            <tr>

                <th data-field="name" class="">Voiture</th>
                <th data-field="price">3jours/Prix par jour $</th>
                <th data-field="price">7jours/Prix par jour $</th>
                <th data-field="price">20jours/Prix par jour $</th>
                <th data-field="price">30jours/Prix par jour $</th>
                <th data-field="price">Prix par jour</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>peugeot301</td>
                <td>60</td>
                <td>50</td>
                <td>45</td>
                <td>40</td>
                <td>40</td>
            </tr>
            <tr>
                <td>--</td>
                <td>60</td>
                <td>50</td>
                <td>45</td>
                <td>40</td>
                <td>40</td>
            </tr>
            <tr>
                <td>Hundia i20</td>
                <td>70</td>
                <td>55</td>
                <td>50</td>
                <td>45</td>
                <td>--</td>
            </tr>
            <tr>
                <td>POlo7</td>
                <td>70</td>
                <td>55</td>
                <td>50</td>
                <td>45</td>
                <td>--</td>
            </tr>
            <tr>
                <td>Ford fiesta</td>
                <td>70</td>
                <td>55</td>
                <td>50</td>
                <td>45</td>
                <td>--</td>
            </tr>
            <tr>
                <td>--1</td>
                <td>180</td>
                <td>150</td>
                <td>130</td>
                <td>100</td>
                <td>--</td>
            </tr>
            <tr>
                <td>peugeot 508</td>
                <td>200</td>
                <td>180</td>
                <td>170</td>
                <td>150</td>
                <td>--</td>
            </tr>
            <tr>
                <td>Mazda</td>
                <td>250</td>
                <td>230</td>
                <td>200</td>
                <td>180</td>
                <td>--</td>
            </tr>
            <tr>
                <td>Mercedes E200</td>
                <td>450</td>
                <td>400</td>
                <td>350</td>
                <td>300</td>
                <td>--</td>
            </tr>



            </tbody>
        </table>


    </div>

</div>