
<section class="content animated slideInLeft" ng-controller="clientsController">
    <div class="container" style="width: 50%; padding: 0 0.5rem;">
        <div class="m-box">
            <div class="row">

                <div class="col s12">
                    <h3> Clients  <i class="material-icons">account_box</i></h3>


                </div>
                <!--end of col-s12-->
                <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
                    <a class="btn-floating btn-large red">
                        <i class="large mdi-navigation-menu"></i>
                    </a>
                    <ul>

                        <li><a class="btn-floating red" ui-sref=".mail"><i class="material-icons">email</i></a> </li>

                    </ul>
                </div>


            </div><!--end of row-->

        </div><!--end of m-box-->




        <!-----------editer Client---------------------->



        <div class="row animated bounceInDown" ng-show="ClientEdit">

            <div class="col s12">


             <a ng-click="ClientEdit=!ClientEdit"><i class="material-icons">cached</i>Cacher</a>


                <form name="ClientForm" novalidate ng-model="ClientForm" ng-submit="updateClient()">


                    <div class="row">

                        <div class="input-field col s12">
                            <input id="num_cin" type="text" class="validate" name="Num_Cin"
                                   ng-model="client.numCin" ng-pattern="/^[0-9]{1}[0-9]{7}$/"  required >
                            <label for="Num_Cin">Num Cin</label>

            <span style="color: #d32f2f" ng-show="submitted && ClientForm.Num_Cin.$error.required">
                            Veuillez  entrez le Num de Cin du client {{ submitted && ClientForm.Num_Cin.$error.required }}
                        </span>

                <span style="color: #d32f2f" ng-show="submitted && ClientForm.Num_Cin.$error.pattern">
                            Veuillez  entrez un Num de Cin Valide
                        </span>


                        </div>

                        <!---------------------->
                        <div class="input-field col s6">
                            <input id="nom" type="text" class="validate"
                                   ng-model="client.nom"   name="nom" required>
                            <label for="last_name">Nom</label>
  <span style="color: #d32f2f" ng-show="submitted && ClientForm.nom.$error.required">
                            Veuillez  entrez le Nom du client
                        </span>
                        </div>

                        <div class="input-field col s6">
                            <input id="prenom" type="text" class="validate"
                                   ng-model="client.prenom"  name="Prenom" required>
                            <label for="prenom">Prenom</label>

                                 <span style="color: #d32f2f" ng-show="submitted && ClientForm.Prenom.$error.required">
                            Veuillez  entrez le Prénom du Client
                        </span>

                        </div>


                        <!------------------------------>



                        <div class="input-field col s12">
                            <input id="email" type="text" class="validate"
                                   ng-model="client.email"   name="email" required>
                            <label for="email">email</label>
                                    <span style="color: #d32f2f" ng-show="submitted && ClientForm.email.$error.required">
                            Veuillez  entrez le Prénom du Client</span>
                                        <span style="color: #d32f2f" class="help-inline" ng-show="submitted && ClientForm.email.$error.email">
                            Saisissez une adresse e-mail valide

                        </span>

                        </div>


                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input id="Num_tel1" type="text" class="validate"
                                   ng-model="client.numTel1"   name="numTel1" ng-pattern="/^[1-9]{1}[0-9]{7}$/" required>
                            <label for="Num_tel1">Num tel1</label>

                                 <span style="color: #d32f2f" ng-show="submitted && ClientForm.numTel1.$error.required">
                            Veuillez  indiquer un numéro de télephone
                        </span>

                <span style="color: #d32f2f" ng-show="submitted && ClientForm.numTel1.$error.pattern">
                            Veuillez  indiquer votre un numéro de télephone valide
                        </span>



                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input id="num_tel" type="text" class="validate"
                                   ng-model="client.numTel2"  name="num_tel2" ng-pattern="/^[1-9]{1}[0-9]{7}$/">
                            <label for="last_name">Num tel2</label>

                                  <span style="color: #d32f2f" ng-show="submitted && ClientForm.num_tel2.$error.pattern">
                            Veuillez  indiquer votre un numéro de télephone valide
                        </span>
                        </div>




                        <div class="input-field col s6">
                            <input id="num_permis" type="text" class="validate"
                                   ng-model="client.numPermis"   name="num_permis" ng-pattern="/^[1-9]{1}[0-9]{9}$/">
                            <label for="last_name">Num Permis</label>
                                      <span style="color: #d32f2f" ng-show="submitted && ClientForm.num_tel2.$error.pattern">
                            Veuillez  indiquer votre un numéro de Permis Valide
                        </span>

                        </div>

                        <div class="input-field col s6">
                            <input id="date" type="date" class="validate"
                                   ng-model="client.datePermis"   name="num_permis">

                            <label for="date">Date Permis</label>
                        </div>


                        <p>
                            <input name="group1" type="radio" id="test1" value="1" ng-model="client.statut" />
                            <label for="test1">Particulier</label>{{ particulier }}

                        </p>
                        <p>
                            <input name="group1" type="radio" id="test2" value="0" ng-model="client.statut" />
                            <label for="test2">Professionnel</label>
                            {{ professionel }}
                        </p>






                        <button class="btn waves-effect waves-light" type="submit" name="action"
                                >Submit
                            <i class="material-icons right">send</i>
                        </button>

                    </div>





                </form>










            </div>
            <!--end of col-s12-->

        </div><!--end of row-->






        <!--------------------------Détails Clietn------------------------------->

        <div class="card-panel animated bounceInDown" ng-show="ClientDetails">

            <a ng-click="ClientDetails=!ClientDetails"><i class="material-icons">cached</i>Cacher</a>
            <ul>
                <li class="collection-item">
                    <h5>Num Cin : {{ client.numCin }} <i class="material-icons">not_interested</i></h5>
                </li>
                <li class="collection-item">
                    <p>  <i class="material-icons prefix">account_circle</i>Nom Complet : {{ client.nom + " " + client.prenom }}  </p>
                    <p> <i class="material-icons">email</i> email :  {{ client.email }} </p>


                </li>

                <hr>

                <li class="collection-item">
                    <p> <i class="material-icons">perm_identity</i> Numéro de permis :  {{ client.numPermis }}</p>
                    <p> <i class="material-icons">date_range</i> Date d'obtention de permis :  {{ client.datePermis | date:'medium' }} </p>

                </li>

                <hr>

                <li class="collection-item">
                    <i class="material-icons prefix">phone</i>
                    <p>Num tel1 :  {{ client.numTel1 }} </p>
                    <p ng-show="client.numTel2 !=null">Num tel2 : {{ client.numTel2 }}</p>

                </li>


                <hr>

                <li class="collection-item">
                    <i class="material-icons">location_city</i>
                    <p>Adresse : {{ client.adresse }} </p>
                    <p>Ville : <i class="material-icons">not_interested</i> </p>
                    <p>Rue : <i class="material-icons">not_interested</i> </p>
                    <p>Code postale : <i class="material-icons">not_interested</i> </p>

                </li>

                <hr>
                <li class="collection-item">
                    <i class="material-icons">attach_money</i>
                    <p>Chiffre d'affaire réalisée  :{{ chiffreClient }}</p>
                    <p>Nombre totale de réservations : {{  client.Reservations.length }}:</p>


                </li>

                <hr>
                <li class="collection-item">

                    <h5> Statut {{ client.statut }}</h5>

                </li>
            </ul>



        </div><!---end of card panel---------->











<div ui-view></div>






<div class="row">


    <div class="input-field col s6">
        <input placeholder="Search" id="first_name" type="text" class="validate" ng-model="name">

    </div>


        <table class="bordered striped">
            <thead>
            <tr>
                <th>
                    <a ng-click="order('numCin')">Num Cin</a>

                </th>
                <th>

                    <a ng-click="order('email')">Nom Prenom <i class="material-icons">expand_more</i></a>
                </th>
                <th>
                    <a ng-click="order('email')">email<i class="material-icons">expand_more</i></a>
                </th>
                <th>
                    <a ng-click="order('numTel1')">numTel1 <i class="material-icons">expand_more</i></a>
                </th>
                <th>
                    <a ng-click="order('adresse')">adresse <i class="material-icons">expand_more</i></a>
                </th>
                <th>
                    <a ng-click="order('statut')">Statut <i class="material-icons">expand_more</i></a>
                </th>
                <th></th>
                <th></th>
                <th>Détails</th>

            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="cl in clients | filter : name |orderBy:predicate:reverse">
                <td>{{cl.numCin }}</td>
                <td>{{ cl.nom + " " + cl.prenom }}</td>
                <td>{{  cl.email }}</td>
                <td>{{ cl.numTel1 }}</td>
                <td>{{ cl.adresse }}</td>
                <td ng-if="cl.statut==true">
                    particulier
                </td>
                <td ng-if="cl.statut!=true">
                    entreprise
                </td>

                <td>
                    <a class="btn-floating btn waves-effect waves-light " ng-click="editClient(cl.idClient)"> <i class="large material-icons">mode_edit</i></a>

                </td>
                <td>
                    <a class="btn-floating  waves-effect waves-light " ng-click="deleteClient(cl.idClient)"><i class="material-icons">delete</i></a>
                </td>
                <td><a ui-sref=".details" ng-click="detailsClient(cl.idClient)"> <i class="material-icons">details</i> </a></td>
            </tr>

            </tbody>
        </table>
</div><!--end of row-->




    </div><!--end of container-->
</section>
<!--end content-->
<script type="text/javascript">


    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>


