<section class="content">
    <div class="container">
        <div class="m-box">
            <div class="row">

                <div class="col s12">


                    {{ client }}

                    <i class="material-icons prefix">account_circle</i>
                    <form name="ClientForm" novalidate ng-model="ClientForm" ng-submit="updateClient()">


                        <div class="row">

                            <div class="input-field col s12">
                                <input id="num_cin" type="number" class="validate" name="Num_Cin"
                                       ng-model="client.numCin" ng-pattern="/^[0-9]{1}[0-9]{7}$/"  required >
                                <label for="Num_Cin">Num Cin</label>

            <span style="color: #d32f2f" ng-show="submitted && ClientForm.Num_Cin.$error.required">
                            Veuillez  entrez le Num de Cin du client {{ submitted && ClientForm.Num_Cin.$error.required }}
                        </span>

                <span style="color: #d32f2f" ng-show="submitted && ClientForm.Num_Cin.$error.pattern">
                            Veuillez  entrez un Num de Cin Valide
                        </span>


                            </div>

                            <!---------------------->
                            <div class="input-field col s6">
                                <input id="nom" type="text" class="validate"
                                       ng-model="client.nom"   name="nom" required>
                                <label for="last_name">Nom</label>
  <span style="color: #d32f2f" ng-show="submitted && ClientForm.nom.$error.required">
                            Veuillez  entrez le Nom du client
                        </span>
                            </div>

                            <div class="input-field col s6">
                                <input id="prenom" type="text" class="validate"
                                       ng-model="client.prenom"  name="Prenom" required>
                                <label for="prenom">Prenom</label>

                                 <span style="color: #d32f2f" ng-show="submitted && ClientForm.Prenom.$error.required">
                            Veuillez  entrez le Prénom du Client
                        </span>

                            </div>


                            <!------------------------------>



                            <div class="input-field col s12">
                                <input id="email" type="text" class="validate"
                                       ng-model="client.email"   name="email" required>
                                <label for="email">email</label>
                                    <span style="color: #d32f2f" ng-show="submitted && ClientForm.email.$error.required">
                            Veuillez  entrez le Prénom du Client</span>
                                        <span style="color: #d32f2f" class="help-inline" ng-show="submitted && ClientForm.email.$error.email">
                            Saisissez une adresse e-mail valide

                        </span>

                            </div>


                            <div class="input-field col s6">
                                <i class="material-icons prefix">phone</i>
                                <input id="Num_tel1" type="text" class="validate"
                                       ng-model="client.numTel1"   name="numTel1" ng-pattern="/^[1-9]{1}[0-9]{7}$/" required>
                                <label for="Num_tel1">Num tel1</label>

                                 <span style="color: #d32f2f" ng-show="submitted && ClientForm.numTel1.$error.required">
                            Veuillez  indiquer un numéro de télephone
                        </span>

                <span style="color: #d32f2f" ng-show="submitted && ClientForm.numTel1.$error.pattern">
                            Veuillez  indiquer votre un numéro de télephone valide
                        </span>



                            </div>

                            <div class="input-field col s6">
                                <i class="material-icons prefix">phone</i>
                                <input id="num_tel" type="text" class="validate"
                                       ng-model="client.numTel2"  name="num_tel2" ng-pattern="/^[1-9]{1}[0-9]{7}$/">
                                <label for="last_name">Num tel2</label>

                                  <span style="color: #d32f2f" ng-show="submitted && ClientForm.num_tel2.$error.pattern">
                            Veuillez  indiquer votre un numéro de télephone valide
                        </span>
                            </div>




                            <div class="input-field col s6">
                                <input id="num_permis" type="text" class="validate"
                                       ng-model="client.numPermis"   name="num_permis" ng-pattern="/^[1-9]{1}[0-9]{9}$/">
                                <label for="last_name">Num Permis</label>
                                      <span style="color: #d32f2f" ng-show="submitted && ClientForm.num_tel2.$error.pattern">
                            Veuillez  indiquer votre un numéro de Permis Valide
                        </span>

                            </div>

                            <div class="input-field col s6">
                                <input id="date" type="date" class="validate"
                                       ng-model="client.datePermis"   name="num_permis">

                                <label for="date">Date Permis</label>
                            </div>


                            <p>
                                <input name="group1" type="radio" id="test1" value="1" ng-model="client.statut" />
                                <label for="test1">Particulier</label>{{ particulier }}

                            </p>
                            <p>
                                <input name="group1" type="radio" id="test2" value="0" ng-model="client.statut" />
                                <label for="test2">Professionnel</label>
                                {{ professionel }}
                            </p>






                            <button class="btn waves-effect waves-light" type="submit" name="action"
                                   >Submit
                                <i class="material-icons right">send</i>
                            </button>

                        </div>





                    </form>










                </div>
                <!--end of col-s12-->

            </div><!--end of row-->

        </div><!--end of m-box-->




    </div><!--end of container-->
</section>
<!--end content-->

<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>