<header class="main-header" id="header" style="background-color: #00733e">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>LTE</span>

    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation" id="navbar">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">0</span>
                    </a>



                    <ul class="dropdown-menu">
                        <li class="header">vous avez 0 messages</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">


                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="../public/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Example de message
                                            <small><i class="fa fa-clock-o"></i> Aujourd'hui</small>
                                        </h4>
                                        <p>voici un exmple de message</p>
                                    </a>
                                </li>




                            </ul>
                        </li>
                        <li class="footer"><a href="#">Voir tous les messages</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Vous avez 0 notifications</li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">0 tasks</li>


                    </ul>
                </li>






                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">



                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../public/images/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Admin</span>
                    </a>


                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="../public/images/user2-160x160.jpg" class="img-circle" alt="User Image">


                            <p>
                                Manager nom prenom
                                <small>Member depuis Nov. 2012</small>
                            </p>

                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">


                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>

                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Déconnecter</a>
                            </div>

                        </li>

                    </ul><!--end of dropdown-menu-->
                </li><!--end of dropdwon menu-->




                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
