
<head>





</head>

<body>

<!--div class="container"-->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- Navbar goes here -->
<div class="navbar-fixed  blue darken-4">
    <nav class="blue darken-4" ng-controller="AdminCtrl">
        <div class="nav-wrapper ">







            <a href="#!" class="brand-logo" >Admin {{ }} </a>
            <!--a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light cyan"><i class="mdi-navigation-menu"></i></a-->
            <ul class="right hide-on-med-and-down">
                <li><a href="#"></a></li>
                <li>
                    <a class='dropdown-button btn blue lighten-1' ui-sref="Reservations" >Réservations <span class="new badge blue lighten-1"></span></a>

                </li>
                <li><a class="dropdown-button btn blue lighten-1" ui-sref="Messages">Messages <i class="material-icons">chat</i></a></li>
            <li>
                <!-- Dropdown Trigger -->
                <a class='dropdown-button btn blue lighten-1' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
                    Profile  <i class="material-icons">person_pin</i>
                </a>
            </li>

                <!-- Dropdown Structure -->
                <ul id='demoDropdown' class='dropdown-content ' >
                    <li><a href="javascript:void(0);" ng-click="profile()" style="color: #000000">Profile</a></li>
                    <li><a href="javascript:void(0);" ng-click="Parametre()" style="color: #000000">Paramétres</a></li>
                    <li><a href="javascript:void(0);" ng-click="logOut()" style="color: #000000">log out</a></li>

                </ul>


            </ul>

        </div>
    </nav>
</div>

<!-- start main -->

<div id="main">
    <div class="wrapper">
        <!--start left side bar-->
        <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" >
                <li ><a ui-sref="Calendrier" class="waves-effect waves-cyan"><i class="material-icons">today</i> Calendrier</a></li>
                <li ><a ui-sref="locations" class="waves-effect waves-cyan"><i class="material-icons">data_usage</i> locations</a></li>
                <li><a ui-sref="voitures" class="waves-effect waves-cyan"><i class="material-icons">drive_eta</i>Voitures</a></li>
                <li><a ui-sref="entretients" class="waves-effect waves-cyan"><i class="material-icons">build</i> Entretients</a></li>
                <li><a ui-sref="contrats" class="waves-effect waves-cyan"><i class="material-icons">import_contacts</i>Contrats</a></li>
                <li><a ui-sref="factures" class="waves-effect waves-cyan"><i class="material-icons">attach_money</i> Factures</a></li>
                <li><a ui-sref="clients" class="waves-effect waves-cyan"><i class="material-icons">account_circle</i> Clients</a></li>
                <li><a ui-sref="conducteurs" class="waves-effect waves-cyan"><i class="material-icons">person_pin</i>Conducteurs</a></li>
                <li><a ui-sref="statistiques" class="waves-effect waves-cyan"><i class="material-icons">insert_chart</i>Statistiques</a></li>


            </ul>
            <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
        </aside>
        <!--end left side bar-->
        <!--//////////////////-->


    </div>

</div>

<!---the content-->







<div ui-view></div>
























<script type="text/javascript">
    $(".sidebar-collapse").sideNav();
    </script>
