<style>
    .error
    {
        color: #b71c1c;
    ;

    }
</style>
<div class="container" ng-controller="registerCtrl">
    <div class="row">

        <div class="card large">



                   <h3 class="center-align">   <i class="material-icons">account_box</i> Créer Votre compte </h3>




<form ng-submit="onSubmit()" name="registerForm" novalidate ng-model="registerForm">


<div class="row">




    <div class="input-field col s6">

        <input type="text" class="form-control" id="name"  ng-model="newClient.nom"
                name="nom" required>
        <label for="name">Nom</label>
 <span style="color: #d32f2f" ng-show="submitted && registerForm.nom.$error.required">
                            Veuillez indiquer indiquer votre nom
                        </span>
    </div>



    <div class="input-field col s6">

        <input type="text" class="form-control" id="prenom"  ng-model="newClient.prenom"
                required name="prenom">
        <label for="prenom">Prénom</label>

         <span style="color: #d32f2f" ng-show="submitted && registerForm.prenom.$error.required">
                            Veuillez indiquer indiquer votre Prenom
                        </span>

    </div>








</div><!---end of diw row----------------->


 <!------------------------------------------------------------------------>

    <div class="row">




        <div class="input-field col s6">

            <input type="text" class="form-control" id="adresse"  ng-model="newClient.adresse"
                   name="adresse" required>
            <label for="name"><i class="material-icons">location_city</i>Adresse</label>
  <span style="color: #d32f2f" ng-show="submitted && registerForm.adresse.$error.required">
                            Veuillez indiquer indiquer votre Adressse
                        </span>
        </div>



        <div class=" input-field col s6">

            <input type="text" class="form-control" id="phone"  ng-model="newClient.numTel1"
                   required name="phone">
            <label for="phone"><i class="material-icons">settings_phone</i>Num télephone</label>
            <span style="color: #d32f2f" ng-show="submitted && registerForm.phone.$error.required">
                            Veuillez indiquer indiquer votre num telephone
                        </span>
        </div>








    </div><!---end of diw row----------------->



















<div class="row">




    <div class=" input-field col s6">

        <input type="email" class="form-control" id="email"  ng-model="newClient.email"
                required name="email">
        <label for="email"><i class="material-icons">email</i>Email address</label>
          <span style="color: #d32f2f" ng-show="submitted && registerForm.email.$error.required">
                            Veuillez indiquer indiquer votre email
                        </span>
         <span style="color: #d32f2f" class="help-inline" ng-show="submitted && loginForm.email.$error.email">
                            Saisissez une adresse e-mail valide
                        </span>




        <div class="error" role="alert" ng-show="show">
            Un compte avec cet e-mail existe déjà !
            <a ui-sref="login"> Connectez-vous pour continuer</a>
        </div>


    </div><!---------end of col s6----------->

    <div class=" input-field col s6">


        <input type="password"  id="password"  ng-model="newClient.password"
               name="password" required>
        <label for="password"><i class="material-icons">https</i>Password</label>
 <span style="color: #d32f2f" ng-show="submitted && registerForm.password.$error.required">
                            Veuillez indiquer indiquer votre mot de passe
                        </span>



    </div>



</div><!-----end of row------------->






<div>

<div class="center-align">
    <button type="submit" class="waves-effect waves-light btn center-align" >Register!<i class="material-icons">skip_next</i></button>
</div><!--end of div button--->
</div><!--end of row---->
</form>

            </div><!--end of card large --->


    </div><!--end of row-->
</div><!--end of container-->