<style>
    .error
    {
        color: #b71c1c;
    ;

    }
</style>
<div class="container animated zoomIn" ng-controller="registerCtrl">
    <div class="row">

        <div class="card-panel large ">



 <h5 class="center-align blue-text text-darken-2">   <i class="material-icons">account_box</i> Créer Votre compte </h5>




<form ng-submit="onSubmit()" name="registerForm" novalidate ng-model="registerForm">


<div class="row">




    <div class="input-field col s6">

        <input type="text" class="form-control" id="name"  ng-model="newClient.nom"
                name="nom" required>
        <label for="name">Nom</label>
 <span style="color: #d32f2f" ng-show="submitted && registerForm.nom.$error.required">
                            Veuillez indiquer  votre nom
                        </span>
    </div>



    <div class="input-field col s6">

        <input type="text" class="form-control" id="prenom"  ng-model="newClient.prenom"
                required name="prenom">
        <label for="prenom">Prénom</label>

         <span style="color: #d32f2f" ng-show="submitted && registerForm.prenom.$error.required">
                            Veuillez indiquer  votre Prenom
                        </span>

    </div>








</div><!---end of diw row----------------->




<div class="row">




    <div class=" input-field col s6">

        <input type="email" class="form-control" id="email"  ng-model="newClient.email"
                required name="email">
        <label for="email"><i class="material-icons">email</i>Email address</label>
          <span style="color: #d32f2f" ng-show="submitted && registerForm.email.$error.required">
                            Veuillez  indiquer votre email
                        </span>
         <span style="color: #d32f2f" class="help-inline" ng-show="submitted && loginForm.email.$error.email">
                            Saisissez une adresse e-mail valide
                        </span>




        <div class="error" role="alert" ng-show="show">
            Un compte avec cet e-mail existe déjà !
            <a ui-sref="login"> Connectez-vous pour continuer</a>
        </div>


    </div><!---------end of col s6----------->

    <div class=" input-field col s6">


        <input type="password"  id="password"  ng-model="newClient.password"
               name="password" required>
        <label for="password"><i class="material-icons">https</i>Password</label>
 <span style="color: #d32f2f" ng-show="submitted && registerForm.password.$error.required">
                            Veuillez  indiquer votre mot de passe

                        </span>

    </div>



</div><!-----end of row------------->



    <!------------------------------------------------------------------------>

    <div class="row">




        <div class="input-field col s6">

            <input type="text" class="form-control" id="adresse"  ng-model="newClient.adresse"
                   name="adresse" required>
            <label for="name"><i class="material-icons">location_city</i>Adresse</label>
  <span style="color: #d32f2f" ng-show="submitted && registerForm.adresse.$error.required">
                            Veuillez  indiquer votre Adressse
                        </span>
        </div>



        <div class=" input-field col s6">

            <input type="number" class="form-control" id="phone"  ng-model="newClient.numTel1"
                   required name="phone" ng-pattern="/^[1-9]{1}[0-9]{7}$/">
            <label for="phone"><i class="material-icons">settings_phone</i>Num télephone</label>

            <span style="color: #d32f2f" ng-show="submitted && registerForm.phone.$error.required">
                            Veuillez  indiquer votre num telephone
                        </span>

                <span style="color: #d32f2f" ng-show="submitted && registerForm.phone.$error.pattern">
                            Veuillez  indiquer votre un numéro de télephone valide
                        </span>


        </div>








    </div><!---end of diw row----------------->


<!--------------------------------->



    <!------------------------------------------------------------------------>

    <div class="row">




        <div class="input-field col s6">


            <p>
                <input name="group1" type="radio" id="test1" ng-model="newClient.statut" />
                <label for="test1">Particulier</label>
            </p>
            <p>
                <input name="group1" type="radio" id="test2" ng-model="newClient.statut" />
                <label for="test2">Proffesionel</label>
            </p>
        </div>


        <div class="input-field col s6">
            <input type="number" class="form-control" id="phone2"  ng-model="newClient.numTel2"
                   required name="phone2" ng-pattern="/^[1-9]{1}[0-9]{7}$/" >
            <label for="phone2"><i class="material-icons">settings_phone</i>Num télephone 2(opt)</label>

             <span style="color: #d32f2f" ng-show="submitted && registerForm.phone2.$error.pattern">
                            Veuillez  indiquer votre un numéro de télephone valide
                        </span>
            </div>








    </div><!---end of diw row----------------->






    <div>

<div class="center-align">
    <button type="submit" class="waves-effect waves-light btn center-align" >Register!<i class="material-icons">skip_next</i></button>
</div><!--end of div button--->
</div><!--end of row---->
</form>

            </div><!--end of card large --->


    </div><!--end of row-->
</div><!--end of container-->